name: Release and Deploy

on:
    pull_request:
        types:
        - closed

        branches:
        - main

jobs:
  release:
    name: Release and Deploy
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true

    steps:
      - name: Fetch Latest
        uses: actions/checkout@v2

      - name: Increase inotify watchers
        run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '14'

      - name: Get yarn cache
        id: yarn-cache-id
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: Cache yarn libs
        uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache-id.outputs.dir }}
          key: ${{ runner.os }}-v2-yarn-cache-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-v2-yarn-cache-

      - name: Install Dependencies
        run: yarn

      - name: Set Details
        run: |
          git config --global user.email "lauchlan.irwin@gmail.com"
          git config --global user.name "Lauchlan Irwin"

      - name: Create Release
        run: yarn release

      -name: Publish Release
        run: git push --follow-tags origin main

      - name: Create Build
        run: yarn build

      - name: Deploy
        uses: cloudflare/wrangler-action@1.3.0
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
        env:
          CF_ZONE_ID: ${{ secrets.CF_ZONE_ID }}
          CF_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}
