name: Release and Deploy

on:
    pull_request:
        types:
        - closed

        branches:
        - main

jobs:
  release:
    name: Release and Deploy
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true

    steps:
      - name: Fetch Latest
        uses: actions/checkout@v2

      - name: Increase inotify watchers
        run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '14'

      - name: Get yarn cache
        id: yarn-cache-id
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: Cache yarn libs
        id: irwin-studio-cache
        uses: actions/cache@v2
        with:
          path: ${{ steps.yarn-cache-id.outputs.dir }}
          key: ${{ runner.os }}-irwin-studio-cache-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-irwin-studio-cache-

      - name: Install Dependencies
        run: yarn --prefer--offline --frozen-lockfile

      # The double-double-dash (-- --) is required here because...
      # The second is for lerna to parse the flags to the npm client
      # The first one is so that the second '--' and the following flags are sent to the lerna command
      - name: Bootstrap Packages
        run: yarn lerna bootstrap -- -- --prefer-offline --frozen-lockfile

      - name: Set Details
        run: |
          git config --global user.email "lauchlan.irwin@gmail.com"
          git config --global user.name "Lauchlan Irwin"

      - name: Create Release
        run: yarn lerna version --conventional-commits --yes

      - name: Publish release to main branch
        run: git push --follow-tags origin main

      - name: Build Frontend
        run: yarn --cwd ./packages/frontend build

      - name: Deploy Frontend
        uses: cloudflare/wrangler-action@1.3.0
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          workingDirectory: ./packages/frontend
        env:
          CF_ZONE_ID: ${{ secrets.CF_ZONE_ID }}
          CF_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}

      - name: Build Backend
        run: yarn --cwd ./packages/backend build

      - name: Deploy Backend
        uses: cloudflare/wrangler-action@1.3.0
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          workingDirectory: ./packages/backend
        env:
          CF_ZONE_ID: ${{ secrets.CF_ZONE_ID }}
          CF_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}
